<!-- <div class="card">
  <div class="card-header">Makaleler</div>
  <div class="card-body" *ngFor="let item of posts$ | async">
    <h5 class="card-title">{{ item.title }}</h5>
    <p class="card-text">{{ item.body }}</p>
    <a (click)="postBy(item.userId, template)" class="btn btn-primary"
      >Post By</a
    >
    <a class="btn btn-secondary" routerLink="/post-detail/{{ item.id }}"
      >detail</a
    >
  </div>
</div> -->
<div class="card">
  <div class="card-header">Makaleler</div>
  <div class="card-body" *ngFor="let item of posts$ | async">
    <button style="border: 0px solid" routerLink="/post-detail/{{ item.id }}">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.body }}</p>
    </button>
    <a (click)="postBy(item.userId, template)"> <u>Post By</u></a>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">user info</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="user$ | async; let user">
    user : {{ user.name }}<br />
    username : {{ user.username }}<br />
    email :
    {{ user.email }}
  </div>
</ng-template>
